[submodule "submodules/quickstart-amazon-eks"]
	path = submodules/quickstart-amazon-eks
	url = https://github.com/aws-quickstart/quickstart-amazon-eks.git
	branch = main
[submodule "submodules/quickstart-amazon-aurora-postgresql"]
	path = submodules/quickstart-amazon-aurora-postgresql
	url = https://github.com/aws-quickstart/quickstart-amazon-aurora-postgresql.git
	branch = main
[submodule "functions/source/CfnSesDomain/aws-cfn-ses-domain"]
	path = functions/source/CfnSesDomain/aws-cfn-ses-domain
	url = https://github.com/medmunds/aws-cfn-ses-domain.git
        branch = main
[submodule "submodules/aws-cfn-ses-domain"]
	path = submodules/aws-cfn-ses-domain
	url = https://github.com/medmunds/aws-cfn-ses-domain.git
	branch = main
[submodule "submodules/quickstart-amazon-rds-postgres"]
	path = submodules/quickstart-amazon-rds-postgres
	url = https://github.com/aws-quickstart/quickstart-amazon-rds-postgres.git
	branch = main
